.header {
    border-bottom: 1px solid white;
    display: block;
    left:0;
    top:0;
    right:0;
    width: 100%;
    background-color: gold;

    &__title {
        font-size: 3rem;

        // @media only screen and (max-width: 800px){
        //     font-size: 2rem;
        // }
    }
}